
.icons {
  display: block;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--main-color);
  transition: all 0.2s linear;
}
.icons:hover {
  background-color: rgba(var(--r), var(--g), var(--b), 0.8);
}

.ChatBtn {
  height: 50px;
  width: 50px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(30, 26, 89);
  background: linear-gradient(
    0deg,
    rgba(30, 26, 89, 1) 0%,
    rgba(45, 45, 159, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.ChatBox {
  position: fixed;
  left: 3%;
  bottom: 5%;
  z-index: 99999;
}
.chatOptions{
  z-index: 999;
  position: fixed;
  bottom: calc(5% + 50px);
  left: 3%;
}
.chatOptions .icons:nth-child(1){
  animation: myAnimi 0.4s cubic-bezier(.62,.62,.52,1.43);
}

.chatOptions .icons:nth-child(2){
  animation: myAnimi 0.3s cubic-bezier(.62,.62,.52,1.43);
}

.chatOptions .icons:nth-child(3){
  animation: myAnimi 0.2s cubic-bezier(.62,.62,.52,1.43);
}


@keyframes myAnimi{
  0%{
    opacity: 0;
    transform: translateY(100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}



