#portfolio {
  position: relative;
  overflow: hidden;
}
/* #portfolio::after {
  content: "";
  background-image: url(/portfolioBg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 1300px;
  width: 1300px;
  opacity: 0.5;
  z-index: -1;
} */
.product_overlay {
  position: relative;
  transition: all linear 0.3s;
  overflow: hidden;
}
#portfolio button {
  box-shadow: none !important;
}
.card-img {
  height: 200px !important;
  width: 100% !important;
  object-fit: cover;
  border-radius: 8px !important;
}

.card_title {
  height: 100% !important;
  width: 100% !important;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 999999;
  transition: all linear 0.3s;
  opacity: 1;
  overflow: hidden;
}

.card_title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* border-radius: 5px; */
  background-color: #e2e1e1;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.overlay_logo {
  position: absolute;
  display: block;
  height: 135px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.link_icons {
  position: absolute;
  right: 20px;
  bottom: 15px;
}
.product_overlay:hover .card_title {
  opacity: 0;
}
button.text-capitalize.me-2.btn.btn-success.rounded-1.active {
  background-color: var(--main-color) !important;
}
button.text-capitalize.me-2.btn.btn-success.rounded-1 {
  background-color: #c2cad6;
  padding: 8px 25px;
}
button.text-capitalize.me-2.btn.btn-success.rounded-1:hover {
  background-color: var(--main-color);
}
button.text-capitalize.me-2.btn.btn-success {
  border-color: var(--main-color) !important;
}
button.text-capitalize {
  color: var(--main-color);
}
button.text-capitalize.me-2.btn.btn-success.rounded-1:focus {
  background-color: var(--main-color);
  padding: 8px 25px;
}
.card_img_design {
  position: absolute;
  top: 55%;
  left: 0;
  height: 150px;
  transform: rotate(45deg);
  margin-left: -26px;
  opacity: 0.4;
  z-index: 999999;
}


/* 
@media (max-width: 1440px) {
  #portfolio::after {
    top: -7%;
  }
}
@media (max-width: 992px) {
  #portfolio::after {
    top: 0%;
  }
  .card-img {
    height: 140px !important;
}
.overlay_logo {
  height: 95px;
}
.card_title::after {
  height: 66%;
  top: -21px;

}
.link_icons {
bottom: 50%;
}
}
@media (max-width: 767px) {
  #portfolio::after {
    top: 0%;
  }

}
@media (max-width: 575px) {
  #portfolio::after {
    top: 0% !important;
  }
  .card_title::after {
    left: -1px;
  }
  .card_title::after {
    width: 101%;
}
} */
