@font-face {
  font-family: "kanit";
  src: url(/fonts/Kanit-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "kanit";
  src: url(/fonts/Kanit-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "kanit";
  src: url(/fonts/Kanit-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "kanit";
  src: url(/fonts/Kanit-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "kanit";
  src: url(/fonts/Kanit-Bold.ttf);
  font-weight: 700;
}

:root {
  --r: 2;
  --g: 84;
  --b: 130;
  --a: 1;
  --main-color: rgba(var(--r), var(--g), var(--b), var(--a));
  --main-text-color: #333333;
  --main-dark: #212121;
  --main-highlight: #dd0213;
  --color-blue: #2caef7;
  --color-purple: #b93afb;
  --body-color: #f0f2f5;
  /* --main-hover-color: #1fbc2c; */
}

/* background-color: rgba(var(--r), var(--g), var(--b), 0.3); */
/* Base color code: #025482 */

/* ===== Scrollbar CSS Start ===== */
/* Firefox */
body {
  scrollbar-width: auto;
  scrollbar-color: #005481 #ffffff;
}
/* Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #ffffff;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    40deg,
    rgba(0, 84, 129, 1) 17%,
    rgba(106, 191, 235, 1) 100%
  );
  border-radius: 100px;
  border: 2px solid #ffffff;
}
/* ===== Scrollbar CSS End===== */
html,
body {
  overflow-x: hidden;
}

.bg-base {
  background-color: var(--main-color) !important;
}
.text-base {
  color: var(--main-color) !important;
}

body {
  font-size: 18px !important;
  font-family: "kanit", sans-serif !important;
  font-weight: 300;
  background-color: var(--body-color) !important;
  color: var(--main-dark) !important;
  position: relative;
  overflow-x: hidden;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1536px !important;
  }
}

html {
  scroll-behavior: smooth !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea {
  font-family: "kanit" !important;
  color: var(--main-dark);
}
p {
  color: var(--main-dark);
  font-weight: 300;
}

h1 {
  font-size: 2.125rem !important;
}
h2 {
  font-size: 1.875rem !important;
}
h3 {
  font-size: 1.5rem !important;
}
h4 {
  font-size: 1.25rem !important;
}
h5 {
  font-size: 1.125rem !important;
}
h6 {
  font-size: 1rem !important;
}

/* preloader */
body.loaded {
  /* overflow-x: hidden; */
  overflow: hidden;
}
.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999999;
  background-color: #fff;
  color: #aaa;
}

/* Loader CSS  */
.loader,
.loader:before,
.loader:after {
  border-radius: 100%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #005481;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translatey(-15px);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
/* Loader CSS  */
/* preloader */

.section_padding_top {
  padding-top: 60px;
}
.section_padding_bottom {
  padding-bottom: 60px;
}

.section_padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Custome Button css Start  */
.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
}
.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--main-color);
  border-radius: 1.625rem;
}
.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--main-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.learn-more:hover .circle {
  width: 100%;
}
.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.learn-more:hover .button-text {
  color: #fff;
}
/* Custome Button css End  */

/* Custome Button 2 css Start  */
.CustomeBtn {
  font-size: 16px;
  font-weight: 600;
  color: #fff !important;
  padding: 12px 17px 12px 25px;
  display: inline-block;
  border: 0;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #98e9ff 0,
    #0078be 100%
  ) !important;
  box-shadow: 0 2px 4px rgba(45, 35, 66, 0.1),
    0 7px 13px -3px rgba(45, 35, 66, 0.2), inset 0 -3px 0 rgba(58, 65, 111, 0.1);
  background-position: 0 0;
  transition: all 0.5s !important;
}
.CustomeBtn:hover {
  /* padding: 12px 23px 12px 28px; */
  /* background-image: radial-gradient(100% 100% at 100% 0,#a6ebfe 0,#0086d4 100%); */
  box-shadow: initial;
  box-shadow: 0 11px 25px 0 rgba(54, 118, 255, 0.45);
}
.CustomeBtnIcon {
  display: inline-block;
  font-size: 25px;
  margin-right: 0;
  padding-right: 0;
  margin-left: 3px;
  transform: translateY(-1px);
}
/* Custome Button 2 css End  */

/* gradient button css start here */
.requestBtn {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  background-size: 150% 150%;
  border-radius: 100px;
  padding: 13px 33px;
  background: linear-gradient(
    90deg,
    rgba(0, 84, 129, 1) 17%,
    rgba(106, 191, 235, 1) 100%
  );
  transition: all 0.3s ease-in-out;
}

.requestBtn:hover {
  color: #fff;
  -webkit-box-shadow: 0px 5px 15px -2px rgba(0, 84, 130, 0.5);
  -moz-box-shadow: 0px 5px 15px -2px rgba(0, 84, 130, 0.5);
  box-shadow: 0px 5px 15px -2px rgba(0, 84, 130, 0.5);
}

.bannerText .requestBtn {
  min-width: 210px;
  text-align: center;
}
/* gradient button css end here */

/* pageBanner css Start here */
#pageBanner {
  /* background-image: url(/pageBg.webp); */
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bannerText {
  margin-top: 50px;
  max-width: 50%;
  width: 100%;
}

.bannerTitle {
  font-family: "kanit" !important;
  font-size: 60px !important;
  font-weight: 600;
  color: var(--main-color);
}
.bannerDescription {
  font-weight: 300;
  color: var(--main-dark);
}

/* All Inner Page CSS start here */
/* UI/UX start here  */
.roleTitle {
  color: var(--main-color);
  margin-bottom: 20px;
}

.roleBox {
  margin-top: 110px;
}

.curve {
  width: 470px;
  height: 470px;
  float: right;
  margin-left: 2rem;
  padding: 10px;
  -webkit-shape-outside: circle();
  shape-outside: circle();
  position: relative;
}

.textImgBox .curve::after {
  content: "";
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: #c2cad6;
  position: absolute;
  top: 0;
  right: -100px;
  z-index: -1;
}

.textImgBox .curve::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #e3e6ea;
  position: absolute;
  top: 370px;
  right: -50px;
  z-index: -1;
}

.curve img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.textImgBox{
  min-height: 470px;
  margin-bottom: 50px;
}

.textImgBox p {
  text-align: justify;
}

.roleTitle {
  font-size: 36px !important;
  font-weight: 600;
}

.techBox {
  display: flex;
  flex-wrap: wrap;
  max-width: 340px;
}

.tech {
  width: 80px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.techBox .tech:nth-child(3n) {
  margin-right: 0px !important;
}

.proIconImg {
  width: 100%;
  height: 60px;
  object-fit: contain;
}

.proDesignation {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  padding-left: 35px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}
.leftContent {
  max-width: 800px;
}
.proDesignation h3,
.proDesignation p {
  color: var(--main-color);
}
.proImg {
  width: auto;
  height: 380px;
}
.proDesignation::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 100px;
  bottom: 100px;
  background-image: url(/ourServiceShap.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* .contactBtn {
   position: absolute;
   left: 0;
   bottom: 0;
} */

.servicesTitle {
  color: var(--main-color);
}

.servicesBox {
  padding-left: 120px;
  padding-right: 30px;
}

.servicesImg {
  width: 90px;
  height: 90px;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 1399px) {
  .curve {
    width: 370px;
    height: 370px;
    float: right;
    margin-left: 2rem;
    padding: 10px;
    -webkit-shape-outside: circle();
    shape-outside: circle();
    position: relative;
  }
  .textImgBox .curve::after {
    width: 150px;
    height: 150px;
    right: -30px;
  }
  .textImgBox .curve::before {
    width: 70px;
    height: 70px;
    top: 300px;
    right: -50px;
  }
}
@media (max-width: 1199px) {
  .contactBtn {
    position: initial !important;
    min-width: 360px !important;
  }
}
@media (max-width: 991px) {
  .roleProfile {
    margin-top: 30px;
  }
  .proImg {
    width: auto;
    max-height: 350px;
  }
  .proDesignation::after {
    display: none;
  }
  .techBox.mt-5 {
    margin-top: 2rem !important;
  }
  .someServices.mt-5 {
    margin-top: 0rem !important;
  }
  .servicesTitle.text-center {
    text-align: left !important;
  }
}

@media (max-width: 767px) {
  .curve {
    max-width: 370px;
    max-height: 370px;
    margin: auto;
    display: block;
    -webkit-shape-outside: unset !important;
    shape-outside: unset !important;
    float: initial !important;
  }
  .textImgBox .curve::after {
    width: 120px;
    height: 120px;
    right: -10px;
  }
  .textImgBox .curve::before {
    width: 50px;
    height: 50px;
    top: 280px;
    right: -20px;
  }
  .textImgBox p {
    text-align: left !important;
  }
  .proImgBox {
    margin-top: 2rem !important;
  }
  .proImg {
    max-height: 270px;
  }
  .servicesBox {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }
  .servicesImg {
    width: 90px;
    height: 90px;
    object-fit: contain;
    position: initial !important;
    margin-bottom: 1rem;
  }
}
/* UI/UX end here  */

/* application-development start here  */
.digitalTransformation .servicesBox {
  padding-left: 90px;
}
.digitalTransformation .servicesBox h3 {
  color: var(--main-color);
}

.serIconBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(0, 84, 129, 1) 17%,
    rgba(106, 191, 235, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px,
    rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.1) 0px -3px 0px inset;
}

.serIconBox svg {
  height: 100%;
  font-size: 28px;
  color: #fff;
}
@media (max-width: 767px) {
  .serIconBox {
    position: initial;
    margin: auto;
    margin-bottom: 20px;
  }
  .digitalTransformation .servicesBox {
    padding-left: 0px !important;
  }
  .digitalTransformation.mt-5 {
    margin-top: 0px !important;
  }
}
/* application-development end here  */

/* All Inner Page CSS end here */
@media (max-width: 1399px) {
  .bannerTitle {
    font-size: 45px !important;
  }
}
@media (max-width: 991px) {
  #pageBanner {
    height: initial;
    min-height: 600px;
  }
  .bannerTitle {
    font-size: 40px !important;
  }
  #pageBanner .bannerText {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  #pageBanner {
    height: initial;
    /* min-height: 600px; */
  }
  #pageBanner .bannerTitle {
    margin-bottom: 0 !important;
    padding-bottom: 10px !important;
  }
  #pageBanner .bannerText {
    margin-top: 80px;
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
}
/* pageBanner css end here */

/* CSS for Beta version */
#betaImg {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10000;
}

@media screen and (max-width: 767px) {
  #betaImg {
    width: 40px;
    object-fit: contain;
    top: -15px;
  }
}

/* Swiper CSS Start here */
#portfolio .container {
  position: relative;
}
#portfolio .swiper {
  width: 100%;
  height: 430px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100% !important;
  margin-bottom: 60px;
}
.product_overlay {
  width: 100%;
}
#portfolio .swiper-slide {
  text-align: center;
  height: calc((100% - 30px) / 2) !important;
  display: flex;
  margin-bottom: 30px !important;
  margin-top: 0 !important;
}

#prevBtn,
#nextBtn {
  position: absolute;
  top: calc(50% - 30px);
  transform: translateY(-50%);
  left: -50px;
  width: 40px;
  height: 40px;
  display: inline-block;
  z-index: 2000;
  background-color: #c2cad6;
}

#nextBtn {
  left: initial;
  right: -50px !important;
}

#prevBtn img,
#nextBtn img {
  width: 10px;
  filter: invert(1);
  opacity: 0.4;
}

.swiper-grid-column > .swiper-wrapper {
  flex-direction: row !important;
}

@media (max-width: 767px) {
  #prevBtn {
    left: -0px;
  }

  #nextBtn {
    left: initial;
    right: -0px !important;
  }
}
/* Swiper CSS End here  */

/* New ADD ========================================================================================================
================================================================================================================== */
#toggleBox {
  position: relative;
  /* background-color: #fff; */
  width: 100%;
  height: 100%;
}

.hamburger {
  width: 55px;
  height: 45px;
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 99999;
  /* background-color: #ffffffcb; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.hamburger.open {
  background-color: transparent;
}

.myDiv {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 50px 40px;
  /* overflow: hidden; */
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.myDiv.show {
  z-index: 2000 !important;
  opacity: 1;
  /* transition: all 0.5s ease-in-out; */
  visibility: visible !important;
}
.myDiv::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(-50% - 100px);
  left: calc(100% + 400px);
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 1200px;
  border-radius: 100%;
  background: var(--main-color);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.myDiv.show::after {
  top: 50%;
  left: 50%;
}

.myDiv > .menuBox {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.myDiv.show > .menuBox {
  opacity: 1;
  visibility: visible;
}
.myDiv > .menuBox .navLink {
  margin-top: 15px;
  color: #fff !important;
  font-family: "kanit";
  font-size: 20px;
  padding-left: 30px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.myDiv.show > .menuBox .navLink {
  padding-left: 0px;
  opacity: 1;
  /* transition: all 0.6s ease-in-out; */
}

.myDiv > .menuBox .navLink:nth-child(1) {
  transition-delay: 0.1s;
}
.myDiv > .menuBox .navLink:nth-child(2) {
  transition-delay: 0.2s;
}
.myDiv > .menuBox .navLink:nth-child(3) {
  transition-delay: 0.3s;
}
.myDiv > .menuBox .navLink:nth-child(4) {
  transition-delay: 0.4s;
}
.myDiv > .menuBox .navLink:nth-child(5) {
  transition-delay: 0.5s;
}
.myDiv > .menuBox .navLink:nth-child(6) {
  transition-delay: 0.6s;
}

#header .navLink.accordion-header {
  margin-top: 0px;
}

#header .accordion-button {
  padding: 0px;
  margin: 0px;
  color: #fff !important;
  font-family: "kanit";
  font-size: 20px;
  background-color: transparent !important;
}

#header .accordion-item {
  background-color: transparent !important;
  border: 0 !important;
}
#header .accordion-button::after {
  filter: brightness(0) invert(1);
}

#header .accordion-button:focus {
  box-shadow: none !important;
}

#header .accordion-collapse.collapse.show {
  background-color: transparent !important;
}
#header .accordion-collapse {
  margin-top: 10px;
}
#header .accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
#header .accordion-body {
  background-color: #19658d;
  border-radius: 6px;
}
#header .accordion-body .navLink {
  font-size: 17px;
}

.phnLogo {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1000;
}

.menu {
  display: block;
  position: relative;
  width: 2em;
  height: 1.3em;
  /* margin: 1em; */
  font-size: 25px;
  cursor: pointer;
}


.menu .item {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--main-color);
  /* background-image: linear-gradient(to left top, #be1f25, #b2185e, #873a85, #4b4d90, #005481); */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  margin-bottom: 0px;
}
.menu .item:nth-child(1) {
  top: 0;
}
.menu .item:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  top: 12px;
  width: 75%;
  left: 25%;
}
.menu .item:nth-child(3) {
  bottom: 0;
  width: 50%;
  left: 50%;
}

.toggleLine .item {
  left: 0;
}
.toggleLine .item:nth-child(1) {
  transition: all 0.35s cubic-bezier(0.03, 1.08, 0.51, 1.22) 0.0833333333s;
}
.toggleLine .item:nth-child(2) {
  transition: all 0.35s cubic-bezier(0.03, 1.08, 0.51, 1.22) 0.1666666667s;
}
.toggleLine .item:nth-child(3) {
  transition: all 0.35s cubic-bezier(0.03, 1.08, 0.51, 1.22) 0.25s;
}
.toggleLine:after,
.toggleLine:before {
  content: "";
  opacity: 0;
  position: absolute;
  width: 90%;
  height: 2px;
  left: 10%;
  background-color: #fff;
  border-radius: 2.5px;
  transition: all 0.25s cubic-bezier(0.03, 1.08, 0.51, 1.22);
}
.toggleLine:after {
  top: -56%;
  transform: rotate(45deg);
}
.toggleLine:before {
  transform: rotate(-45deg);
  bottom: -56%;
}
.toggleLine.open .item {
  left: 100%;
  opacity: 0;
}
.toggleLine.open .item:nth-child(1) {
  transition: all 0.35s cubic-bezier(0.03, 1.08, 0.51, 1.22) 0.0833333333s;
}
.toggleLine.open .item:nth-child(2) {
  transition: all 0.35s cubic-bezier(0.03, 1.08, 0.51, 1.22) 0.1666666667s;
}
.toggleLine.open .item:nth-child(3) {
  transition: all 0.35s cubic-bezier(0.03, 1.08, 0.51, 1.22) 0.25s;
}
.toggleLine.open::after {
  opacity: 1;
  top: 44%;
  transition: all 0.35s cubic-bezier(0.03, 1.08, 0.51, 1.22) 0.3333333333s;
}
.toggleLine.open::before {
  opacity: 1;
  bottom: 50%;
  transition: all 0.25s cubic-bezier(0.03, 1.08, 0.51, 1.22) 0.3333333333s;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545 !important;
  /* background-image: none; */
}

.api-form-loader {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
  border-width: 2px;
  border-color: #606264;
}

/* Notification */
.notification {
  border-radius: 8px;
  background-color: rgba(var(--r), var(--g), var(--b), 0.1);
  padding: 10px 30px;
  animation: notification 0.5s ease-in-out 5s;
}
.notification_icon {
  padding: 10px;
  color: var(--main-color);
  background-color: rgba(var(--r), var(--g), var(--b), 0.1);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
}
.notification_text h4 {
  color: var(--main-color);
}

.notification.error {
  background-color: RGBA(255, 127, 80, 0.15);
}
.notification.error .notification_icon {
  color: #ff7f50;
  background-color: RGBA(255, 127, 80, 0.15);
}
.notification.error .notification_text h4 {
  color: #ff7f50 !important;
}

@keyframes notification {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Notification */

.form-check-input:disabled {
  opacity: 1 !important;
}

.form-check-input:disabled ~ .form-check-label,
.form-check-input[disabled] ~ .form-check-label {
  opacity: 1 !important;
}

.invalid-feedback {
  font-size: 0.75em !important;
}

.attachment-pdf {
  background-color: #c2cad6;
  margin-top: 12px;
  border-radius: 4px;
  white-space: normal;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
  padding: 0 30px 0 16px;
  position: relative;
}
.attachment-pdf span {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.err-right {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .err-right {
    text-align: left;
  }
}
