.work_title {
   position: absolute;
   font-size: 44px;
   font-weight: 600;
   line-height: 52px;
   left: 50%;
   top: 20%;
}
.touch_main_div {
   position: relative;
}
.touch_main_div::after {
   position: absolute;
   content: "";
   top: 50%;
   left: 0;
   height: 1px;
   width: 100%;
   background-color: #cacaca;
}
.get_in_touch {
   position: relative;
   height: 230px;
   width: 230px;
   background-color: #fff;
   color: var(--main-color);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   z-index: 1;
   transition: all linear 0.3s;
}
.get_in_touch:hover {
   color: #fff;
}

.get_in_touch:hover::before {
   animation: dotAnimation 0.4s;
}

.work_together {
   width: 100% !important;
   height: auto !important;
}

.get_in_touch::before {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   content: "";
   border: 1px dashed var(--main-color);
   height: 100%;
   width: 100%;
   border-radius: 50%;
   transition: all linear 0.3s;
}

@keyframes dotAnimation {
   0% {
      height: 100%;
      width: 100%;
      opacity: 1;
   }
   10% {
      opacity: 1;
   }
   100% {
      height: 125%;
      width: 125%;
      opacity: 0;
   }
}

.get_in_touch::after {
   position: absolute;
   content: "";
   background-color: #025482;
   height: 0%;
   width: 0%;
   border-radius: 50%;
   transform: scale(1);
   z-index: -1;
   transition: all linear 0.2s;
}
.get_in_touch:hover::after {
   background-color: var(--main-color);
   color: #fff !important;
   height: 100%;
   width: 100%;
}

.get_in_touch_bg {
   color: var(--main-color);
   z-index: 1;
}
.get_in_touch:hover .get_in_touch_bg {
   color: #fff !important;
   z-index: 1;
}
@keyframes border {
   0% {
      border: 1px dashed #333;
   }
   10% {
      border: 1px dashed #333;
      transform: rotate(45deg);
   }
}

@media (max-width: 991px) {
   .work_together {
      top: 50% !important;
      transform: translateY(-50%);
   }
}

@media (max-width: 767px) {
   .get_in_touch {
      height: 130px;
      width: 130px;
   }
   .work_title {
      font-size: 20px !important;
      line-height: 23px;
   }
   .get_in_touch_bg {
      font-size: 18px !important;
      line-height: 23px;
   }

   .touch_main_div::after {
      display: none;
   }
   .touch_main_dtn,
   .touch_main_div {
      height: 170px !important;
   }
   .touch_main_div {
      align-items: flex-start !important;
   }
}
@media (max-width: 380px) {
   .work_title {
      font-size: 18px !important;
   }
}

@media (max-width: 575px) {
   .workTogetherCol {
      width: 50%;
   }
   .work_together {
      width: 110% !important;
   }
}
